<template>
  <button
    :disabled="loading || disabled"
    :class="`${
      loading || disabled ? 'bg-gray-200 pointer-events-none' : backgroundClass
    }`"
    :type="type"
    class="px-6 py-1.5 rounded shadow-sm hover:shadow-md active:shadow-none"
  >
    <template v-if="!loading">
      <span :class="`${disabled ? 'text-gray-400' : ''}`">{{ text }}</span>
      <slot name="icon"></slot>
    </template>
    <img
      v-else
      src="@/assets/imgs/loading.gif"
      class="inline-block w-5"
      alt=""
    />
  </button>
</template>

<script setup lang="ts">
import type { TailwindColor } from "@/enum/tailwind-colors.enum";
import { buttonColorMap } from "@/maps/button-color.map";
const props = withDefaults(
  defineProps<{
    text: string;
    color: TailwindColor;
    type?: "button" | "submit" | "reset" | undefined;
    loading?: boolean;
    disabled?: boolean;
  }>(),
  {
    color: "blue",
    icon: "login",
  }
);

const backgroundClass = buttonColorMap.get(props.color);
</script>
<style></style>
