<template>
  <div class="rounded-xl transition shadow-md hover:shadow-xl px-10 py-12">
    <h1 class="mb-1" :class="`${small ? 'text-lg' : 'text-3xl text-center'}`">
      {{ title }}
    </h1>
    <h2
      class="text-xs text-gray-500 mb-4"
      :class="`${small ? '' : 'text-center'}`"
    >
      {{ subtitle }}
    </h2>
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
type Props = {
  title: string;
  subtitle: string;
  small?: boolean;
};

defineProps<Props>();
</script>

<style></style>
