<template>
  <div class="bg-teal-200 w-full h-full">
    <NavbarComponent class="mb-4" />
    <div class="w-4/5 block mx-auto">
      <RouterView v-slot="{ Component }">
        <Transition name="fade" mode="out-in">
          <component :is="Component"></component>
        </Transition>
      </RouterView>
    </div>
  </div>
</template>
<script lang="ts" setup>
import NavbarComponent from "@/components/app/NavbarComponent.vue";
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
