<template>
  <nav
    class="bg-white border border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900"
  >
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <RouterLink :to="{ name: 'home' }">
        <img
          src="@/assets/imgs/pokemon.png"
          class="h-6 mr-3 sm:h-9"
          alt="Pokemon logo"
        />
      </RouterLink>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
        @click="toggleMenu"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <div class="w-full md:block md:w-auto" :class="{ hidden: !opened }">
        <ul
          class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <li>
            <RouterLink
              :to="{ name: 'home' }"
              href="#"
              class="menu-element"
              :class="{ active: isActive('home') }"
              aria-current="page"
            >
              Home
            </RouterLink>
          </li>
          <li>
            <RouterLink
              :to="{ name: 'favorites' }"
              href="#"
              :class="{ active: isActive('favorites') }"
              class="menu-element"
            >
              Favorites
            </RouterLink>
          </li>
          <li>
            <RouterLink
              :to="{ name: 'polygon' }"
              href="#"
              class="menu-element"
              :class="{ active: isActive('polygon') }"
            >
              Polygon
            </RouterLink>
          </li>
          <li>
            <IconLogout class="cursor-pointer" @click="logout" />
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script lang="ts" setup>
import { MockAuthApi } from "@/composables/use-auth-api";
import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import IconLogout from "../icons/IconLogout.vue";

const opened = ref(false);
const toggleMenu = () => (opened.value = !opened.value);

const router = useRouter();
const route = useRoute();
const authApi = new MockAuthApi();
const logout = () => authApi.logout().then(() => router.push({ name: "auth" }));

const isActive = (name: string): boolean => {
  return route.name === name;
};
</script>
<style>
.menu-element {
  @apply block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
}

.active {
  @apply border bg-blue-400 text-white md:text-blue-400 md:bg-transparent md:border-0;
}
</style>
