<template>
  <div class="h-screen">
    <CardComponent
      title="Favorites"
      subtitle="My favorite Pokémon"
      class="bg-red-400"
    >
      <ul>
        <li v-for="pokemon in favorites" :key="pokemon.id">
          <PokemonItemComponent
            :pokemon="pokemon"
            @removed-from-favorites="getFavorites()"
          ></PokemonItemComponent>
        </li>
      </ul>
    </CardComponent>
  </div>
</template>
<script lang="ts" setup>
import CardComponent from "@/components/core/CardComponent.vue";
import { usePokemonStore } from "@/composables/use-pokemon-store";
import type { Pokemon } from "@/models/pokemon.model";
import { ref, type Ref } from "vue";
import PokemonItemComponent from "../components/PokemonItemComponent.vue";

const favorites: Ref<Pokemon[] | undefined> = ref(undefined);
const getFavorites = () => {
  favorites.value = usePokemonStore().getFavorites();
};

getFavorites();
</script>
<style></style>
