<template>
  <Card
    class="bg-gradient-to-r from-blue-200 to-blue-300"
    title="Pokemon"
    subtitle="Select a Pokemon from the list to see their details"
  >
    <ul>
      <li class="mb-4">
        <AppButton
          :disabled="!previousPage"
          color="emerald"
          text="< Previous"
          class="mr-2"
          @click="goToPreviousPage"
        ></AppButton>
        <AppButton
          color="fuchsia"
          text="Next >"
          :disabled="!nextPage"
          @click="goToNextPage"
        ></AppButton>
      </li>
      <li v-for="pokemon in pokemonList" :key="pokemon.id">
        <PokemonItem
          :pokemon="pokemon"
          @click="goToDetails(pokemon.id)"
        ></PokemonItem>
      </li>
    </ul>
  </Card>
</template>

<script setup lang="ts">
import AppButton from "@/components/core/AppButton.vue";
import Card from "@/components/core/CardComponent.vue";
import { PokemonApi } from "@/composables/use-pokemon-api";
import type { Pokemon } from "@/models/pokemon.model";
import { MainRoutes } from "@/router/routes.enum";
import { ref, type Ref } from "vue";
import { useRouter } from "vue-router";
import PokemonItem from "../components/PokemonItemComponent.vue";

const pokemonApi = new PokemonApi();
const nextPage: Ref<null | string> = ref(null);
const previousPage: Ref<null | string> = ref(null);
const pokemonList: Ref<Pokemon[]> = ref([]);
const router = useRouter();
let currentPage = 0;

const getPokemons = () => {
  pokemonApi.getPokemons(currentPage).then((poke) => {
    pokemonList.value = poke.results;
    nextPage.value = poke.next;
    previousPage.value = poke.previous;
  });
};

const goToDetails = (id: number) => {
  router.push({ name: MainRoutes.DETAILS, params: { id } });
};

const goToNextPage = () => {
  currentPage++;
  getPokemons();
};
const goToPreviousPage = () => {
  currentPage--;
  getPokemons();
};

getPokemons();
</script>

<style></style>
