<template>
  <div class="h-screen">
    <Card
      v-if="pokemon"
      :title="pokemon.name"
      subtitle="Pokemon details"
      class="bg-purple-300"
    >
      <div
        v-if="pokemon.sprites.front_default"
        class="bg-white w-24 rounded-full block mx-auto shadow-md relative -bottom-10 -mt-10"
      >
        <img
          :src="pokemon.sprites.front_default"
          :alt="`main-front-sprite-${pokemon.name}`"
        />
        <img
          class="border w-10 absolute bg-white rounded-full shadow-md -right-2 -bottom-2"
          v-if="pokemon.sprites.back_default"
          :src="pokemon.sprites.back_default"
        />
      </div>
      <Card
        title="Abilities"
        subtitle="Pokemon abilities"
        small
        class="bg-white mb-2"
      >
        <ol>
          <li
            v-for="(ability, i) in pokemon.abilities"
            :key="ability.ability.name"
            class="capitalize"
          >
            {{ i + 1 }}. {{ ability.ability.name }}
          </li>
        </ol>
      </Card>
      <Card title="Stats" subtitle="Pokemon stats" small class="bg-white">
        <li
          v-for="(stat, i) in pokemon.stats"
          :key="stat.stat.name"
          class="capitalize"
        >
          {{ i + 1 }}. {{ stat.stat.name }} => {{ stat.base_stat }} (Effort:
          {{ stat.effort }})
        </li>
      </Card>
    </Card>
  </div>
</template>
<script lang="ts" setup>
import Card from "@/components/core/CardComponent.vue";
import { PokemonApi } from "@/composables/use-pokemon-api";
import type { PokemonDetailsType } from "@/types/pokemon-types";
import { onMounted, ref, type Ref } from "vue";
import { useRoute } from "vue-router";
const route = useRoute();
const pokemon: Ref<PokemonDetailsType | undefined> = ref(undefined);
const pokemonApi = new PokemonApi();

onMounted(() => {
  pokemonApi.getPokemon(parseInt(route.params.id as string)).then((pok) => {
    pokemon.value = pok;
  });
});
</script>
