<template>
  <div class="h-screen">
    <CardComponent
      title="Polygon"
      subtitle="Extra exercise"
      class="bg-teal-500"
    >
      <AppButton
        :text="drawing ? 'Stop drawing' : 'Draw polygon'"
        @click="drawing = !drawing"
        :class="`${drawing ? 'bg-red-400 hover:bg-red-300' : ''}`"
      >
        <template v-slot:icon>
          <IconPencil v-if="!drawing" class="icon" />
          <IconClear v-else class="icon" />
        </template>
      </AppButton>
      <AppButton
        text="Clear canvas"
        color="yellow"
        class="ml-2 bg-white"
        @click="clearDrawing"
      ></AppButton>
      <div
        id="container"
        class="mt-4 rounded-lg shadow-xl overflow-hidden"
      ></div>
    </CardComponent>
  </div>
</template>

<script setup lang="ts">
import AppButton from "@/components/core/AppButton.vue";
import CardComponent from "@/components/core/CardComponent.vue";
import { PolygonVertex } from "@/models/polygon.model";
import IconPencil from "@/components/icons/IconPencil.vue";
import IconClear from "@/components/icons/IconClear.vue";
import P5 from "p5";
import { onMounted, ref } from "vue";
let p5: P5 | undefined = undefined;
let vertex: PolygonVertex[] = [];
let drawing = ref(false);

const clearDrawing = () => {
  p5?.clear(255, 255, 255, 255);
  p5?.background(255);
  vertex = [];
};
const script = function (p5: P5) {
  p5.setup = () => {
    p5.createCanvas(getContainerWidth(), 500);
    p5.background(255);
    p5.ellipse(2, 2, 2);
  };

  p5.windowResized = () => {
    p5.resizeCanvas(getContainerWidth(), 500);
  };

  p5.mouseClicked = () => {
    if (
      drawing.value &&
      p5.mouseX > 0 &&
      p5.mouseX < p5.width &&
      p5.mouseY > 0 &&
      p5.mouseY < p5.height
    ) {
      vertex.push(new PolygonVertex({ x: p5.mouseX, y: p5.mouseY }));
      drawPolygon();
    }
  };

  function drawPolygon() {
    p5.beginShape();
    vertex.forEach((vt) => {
      p5.vertex(vt.x, vt.y);
      p5.ellipse(vt.x, vt.y, 10);
    });
    p5.endShape(p5.CLOSE);
  }
};

const getContainerWidth = (): number => {
  return getContainer().getBoundingClientRect().width;
};

const getContainer = (): HTMLElement => {
  return document.getElementById("container")!;
};

onMounted(() => {
  p5 = new P5(script, getContainer());
});
</script>

<style>
.icon {
  @apply w-4 inline-block relative bottom-0.5 ml-2;
}
</style>
