<template>
  <Form @submit="onSubmit" :validation-schema="schema" v-slot="{ meta }">
    <Card
      title="Hello again, Pokemon trainer!"
      subtitle="Enter, learn and take care of your Pokémon"
      class="mx-2 sm:mx-auto sm:w-2/3 mx-auto relative pt-14 shadow-md shadow-purple-600/40 hover:shadow-lg hover:shadow-purple-500/60"
      :class="{
        'bg-cyan-100': meta.valid || !meta.touched,
        'bg-red-400': !meta.valid && meta.touched,
      }"
    >
      <div class="w-40 absolute -top-28 left-1/2 transform -translate-x-1/2">
        <img src="@/assets/imgs/logo.png" alt="" class="w-full" />
      </div>
      <Field
        class="input"
        name="email"
        type="email"
        placeholder="Enter your email"
      ></Field>
      <ErrorMessage name="email" class="error" />
      <Field
        class="input"
        name="password"
        type="password"
        placeholder="Password"
      ></Field>
      <ErrorMessage name="password" class="error" />
      <AppButton
        text="Iniciar sesión"
        color="yellow"
        class="w-full mt-4"
        :loading="loading"
      >
        <template v-slot:icon>
          <IconLogin class="icon" />
        </template>
      </AppButton>
    </Card>
  </Form>
</template>
<script setup lang="ts">
import { Form, Field, ErrorMessage } from "vee-validate";
import Card from "@/components/core/CardComponent.vue";
import AppButton from "@/components/core/AppButton.vue";
import * as yup from "yup";
import IconLogin from "@/components/icons/IconLogin.vue";
import { ref } from "vue";
import { MockAuthApi } from "@/composables/use-auth-api";
import { useRouter } from "vue-router";
import { MainRoutes } from "@/router/routes.enum";
const authApi = new MockAuthApi();
const router = useRouter();
const schema = yup.object({
  email: yup.string().required().email(),
  password: yup.string().required().min(8),
});

const loading = ref(false);

const onSubmit = (values: any) => {
  loading.value = true;
  authApi
    .login({ email: values.email, password: values.password })
    .then((res) => {
      console.log(res);
      loading.value = false;
      router.push({ name: MainRoutes.HOME });
    })
    .catch(() => {
      loading.value = false;
      alert("INVALID CREDENTIALS");
    });
};
</script>
<style lang="css">
.input {
  @apply block w-full border px-2 py-1 rounded mt-2 focus:bg-blue-100 hover:bg-blue-50 outline-none;
}

.icon {
  @apply w-5 inline-block relative bottom-0.5 ml-1;
}

.error {
  @apply text-sm text-white font-bold mb-2;
}
</style>
