<template>
  <div
    class="bg-white rounded px-4 py-2 mb-2 bg-slate-100 hover:bg-white cursor-pointer relative"
  >
    <img
      :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`"
      :alt="`pokemon-${pokemon.name}`"
      class="inline"
    />
    <p class="ml-2 inline capitalize">{{ pokemon.id }}. {{ pokemon.name }}</p>
    <IconHeart
      class="absolute right-12 top-12"
      :class="{ 'fill-red-600 stroke-red-600': favorite }"
      @click.stop="favorite ? remove() : add()"
    />
  </div>
</template>
<script setup lang="ts">
import IconHeart from "@/components/icons/IconHeart.vue";
import { usePokemonStore } from "@/composables/use-pokemon-store";
import type { Pokemon } from "@/models/pokemon.model";
import { onMounted, ref } from "vue";
const props = defineProps<{ pokemon: Pokemon }>();
const emits = defineEmits<{ (e: "removedFromFavorites", id: number): void }>();
const { isInFavorites, addToFavorites, removeFromFavorites } =
  usePokemonStore();

const favorite = ref(false);
const isIn = () => {
  favorite.value = isInFavorites(props.pokemon.id);
};
const add = () => {
  addToFavorites(props.pokemon);
  isIn();
};

const remove = () => {
  removeFromFavorites(props.pokemon.id);
  emits("removedFromFavorites", props.pokemon.id);
  isIn();
};

onMounted(() => {
  isIn();
});
</script>
<style></style>
