<template>
  <RouterView />
</template>
<script setup lang="ts">
import { MockAuthApi } from "@/composables/use-auth-api";
import { useRouter } from "vue-router";
import { MainRoutes } from "./router/routes.enum";

const authApi = new MockAuthApi();
const router = useRouter();
const checkIfLogged = () => {
  const sessionToken = authApi.getSessionToken();
  console.log("TOKEN", sessionToken);
  if (sessionToken !== undefined) router.push({ name: MainRoutes.HOME });
};

checkIfLogged();
</script>
<style>
@import "./index.css";
</style>
